/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;  /* Space out the logo and navigation links */
    align-items: center;  /* Align items vertically in the center */
    background-color: #1E88E5;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;  /* Center the items (logo and title) vertically */
}

.logo-img {
    height: 40px;  /* Limit the height of the logo image */
    margin-right: 10px;  /* Add space between logo and title */
}

h1 {
    color: white;
    font-size: 1.8em;
    margin: 0;  /* Remove default margin from <h1> */
}

/* Navigation links */
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #D81B60;
}

/* Dropdown menu styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1E88E5;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
}

.dropbtn {
    background-color: #1E88E5;
    color: white;
    padding: 10px 16px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #D81B60;
}

footer {
    background-color: #1E88E5;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}
